<div class="row">
  <div class="col-xs-12 col-md-6 offset-md-3">

    <div class="alert alert-danger" *ngIf="error">
      <p>{{ error }}</p>
    </div>

    <div *ngIf="isLoading">
      <app-loading-spinner></app-loading-spinner>
    </div>

    <form #authForm="ngForm" (ngSubmit)="onSubmit(authForm)" *ngIf="!isLoading">

      <div class="form-group">
        <label for="email">Email</label>
        <input
          type="email"
          ngModel
          id="email"
          required
          email
          name="email"
          class="form-control">
      </div>

      <div class="form-group">
        <label for="password">Password</label>
        <input type="password"
               name="password"
               required
               ngModel
               minlength="6"
               id="password"
               class="form-control">
      </div>

      <div>
        <button class="btn btn-primary"
                [disabled]="!authForm.valid"
                type="submit">
          {{ isLoginMode ? 'Login' : 'Sign up' }}
        </button>
        <button class="btn btn-primary" type="button" (click)="onSwitchMode()" style="margin-left: 5px">
          Switch to {{ isLoginMode ? 'Sign Up' : 'Login' }}
        </button>
      </div>

    </form>
  </div>
</div>
