<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">

    <div class="navbar-header">
      <a href="#" class="navbar-brand">Recipe Book</a>
    </div>

    <div class="collapse navbar-collapse">
      <ul class="navbar-nav mr-auto">
        <li routerLinkActive="active" >
          <a class="nav-link" routerLink="/recipes">Recipes</a>
        </li>
        <li routerLinkActive="active" >
          <a class="nav-link" routerLink="/shopping-list">Shopping List</a>
        </li>
      </ul>

      <ul class="nav navbar-nav navbar-right" type="button" id="dropdownNav" data-toggle="dropdown" >
        <li class="dropdown">
          <a style="cursor: pointer;" class="nav-link dropdown-toggle" role="button">Manage <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" (click)="onSaveData()" style="cursor: pointer;">Save data</a></li>
            <li><a class="dropdown-item" (click)="onFetchData()" style="cursor: pointer;">Fetch data</a></li>
          </ul>
        </li>
      </ul>


    </div>


  </div>
</nav>
